@import url('https://fonts.googleapis.com/css?family=Tulpen+One');
body {
  min-width: initial !important;
}
.ms-cover{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1260px;
  height: auto;
} 
.counter{
  position: absolute;
}
.employed-counter{
  top: 177px;
  left: 432px;
}
.killed-counter{
  top: 177px;
  left: 590px;
}
.convicted-counter{
  top: 177px;
  left: 780px;
}

.single-counter{
  height: 68px;
  width: 30px;
  font-size: 60px;
  text-align: center;
  line-height: 70px;
  background: transparent;
  color: white;
  position: absolute;
  font-family: 'Tulpen One', cursive;
}

.ec-1{left: 1px;}
.ec-2{left: 32px;}
.ec-3{left: 63px;}
.ec-4{left: 94px;}

.kc-1{left: -11px;}
.kc-2{left: 20px;}
.kc-3{left: 51px;}
.kc-4{left: 82px;}

.cc-1{left: -55px;}
.cc-2{left: -24px;}
.cc-3{left: 7px;}
.cc-4{left: 38px;}

.banner-image{
  width: auto;
  height: 250px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0px);
}

.ms-cover-mobile{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 250px;
  overflow: hidden;
}

.m-employed-counter{
  top: 2px;
  left: 23px;
}
.m-killed-counter{
  top: 2px;
  left: 90px;
}
.m-convicted-counter{
  top: 2px;
  left: 282px;
}
.m-single-counter{
  height: 39px;
  width: 20px;
  font-size: 35px;
  text-align: center;
  line-height: 45px;
  background: transparent;
  color: white;
  position: absolute;
  font-family: 'Tulpen One', cursive;
}
.m-ec-1{left: 13px;}
.m-ec-2{left: 31px;}
.m-ec-3{left: 47px;}
.m-ec-4{left: 65px;}

.m-kc-1{left: 30px;}
.m-kc-2{left: 47px;}
.m-kc-3{left: 63px;}
.m-kc-4{left: 82px;}

.m-cc-1{left: -78px;}
.m-cc-2{left: -59px;}
.m-cc-3{left: -42px;}
.m-cc-4{left: -25px;}

.counter-parent{
  width: 300px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 100px;
}

@media only screen and (max-width: 500px){
  body{
    margin: 0px;
  }
  .m-employed-counter{
    top: 2px;
    left: 23px;
  }
  .m-killed-counter{
    top: 2px;
    left: 90px;
  }
  .m-convicted-counter{
    top: 2px;
    left: 282px;
  }
  .employed-counter{
    top: 103px;
    left: 60px;
  }
  .killed-counter{
    top: 103px;
    left: 128px;
  }
  .convicted-counter{
    top: 103px;
    left: 320px;
  }
  .ms-cover{
    width: 100vw;
    height: 250px;
    overflow: hidden;
  }
  .ms-cover-mobile{
    width: 100vw;
    height: 250px;
    overflow: hidden;
  }
  .banner-image, .col16-banner{
    width: auto;
    height: 250px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0px);
  }
  .single-counter{
    height: 39px;
    width: 20px;
    font-size: 35px;
    text-align: center;
    line-height: 45px;
    background: transparent;
    color: white;
    position: absolute;
    font-family: 'Tulpen One', cursive;
  }
  .counter-parent{
    width: 300px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 100px;
  }
  .ec-1{left: 13px;}
  .ec-2{left: 31px;}
  .ec-3{left: 47px;}
  .ec-4{left: 65px;}

  .kc-1{left: 30px;}
  .kc-2{left: 47px;}
  .kc-3{left: 63px;}
  .kc-4{left: 82px;}

  .cc-1{left: -78px;}
  .cc-2{left: -59px;}
  .cc-3{left: -42px;}
  .cc-4{left: -25px;}
} 
